header
    .headerLeft
        span Գրադարան
    .headerCenter
        .tabButton(data-tab-button='1')
            span
                span.material-icons-round schedule
                span Պահ Տրված
        .tabButton(data-tab-button='2')
            span
                span.material-icons-round people
                span Անդամներ
        .tabButton(data-tab-button='3')
            span
                span.material-icons-round book
                span Գրքեր
        .headerCenter_bottomBorder
    .headerRight
        button.headerExitButton 
            span.material-icons-round logout
            