doctype html
html(lang='en')
head
	meta(charset='UTF-8')
	title Գրադարան
	script(src='/bundle.js') 
body 
	include mixins.pug
	include header.pug
	main
		.tabContainer(data-tab='1')
			include tab_1.pug
		.tabContainer(data-tab='2')
			include tab_2.pug
		.tabContainer(data-tab='3')
			include tab_3.pug