doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Գրադարան
    link(href='/mdc/dist/material-components-web.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/styles.css')
    link(rel='stylesheet', href='/material-icons/iconfont/material-icons.css')
    script(src='/mdc/dist/material-components-web.min.js')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/js/mdc.js') 
    script(src='/js/ui.js') 
body 
    include mixins.pug
    include header.pug
    main
        .tabContainer(data-tab='1')
            include tab_1.pug
        .tabContainer(data-tab='2')
            include tab_2.pug
        .tabContainer(data-tab='3')
            include tab_3.pug