doctype html
html(lang='en')
head
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	title Գրադարան
	link(rel='stylesheet', href='/material-icons/iconfont/material-icons.css')
	link(rel='stylesheet', href='/dejavu-sans/css/dejavu-sans.css')
	script(src='/bundle.js') 
body 
	include mixins.pug
	include header.pug
	main
		.tabContainer(data-tab='1')
			include tab_1.pug
		.tabContainer(data-tab='2')
			include tab_2.pug
		.tabContainer(data-tab='3')
			include tab_3.pug
	script(src="/bootstrap/dist/js/bootstrap.bundle.min.js") 