doctype html
include mixins.pug
html(lang='en')
head
	meta(charset='UTF-8')
	title Գրադարան
	script(src='/bundle.js') 
body 
	.toast-container.position-fixed.end-0.bottom-0
		+Toast('primary', 'Գրանցվեց', 'bookSuccessToast')
		+Toast('primary', 'Գրանցվեց', 'memberSuccessToast')
		+Toast('primary', 'Գրանցվեց', 'borrowedSuccessToast')
	include header.pug
	main
		.tabContainer(data-tab='1')
			include tab_1.pug
		.tabContainer(data-tab='2')
			include tab_2.pug
		.tabContainer(data-tab='3')
			include tab_3.pug
	

