tr(data-binfo='Երեմեան, Արամ. «Սպահանի Չարմահալ Գաւառը, Ազգագրական-Պատմական Ազգասիրութիւն». Նոր Ջուղա, Կրօնական Խորհւորդ, 2016.')
	td 01
	td Սպահանի Չարմահալ Գաւառը
	td Ազգագրական-Պատմական Ազգասիրութիւն
	td Արամ Երեմեան
	td -
	td 5523
	td
		a(target='_blank', href='https://www.google.com')
			span.material-icons-round link
tr(data-binfo='Երեմեան, Արամ. «Սպահանի Չարմահալ Գաւառը, Ազգագրական-Պատմական Ազգասիրութիւն». Նոր Ջուղա, Կրօնական Խորհւորդ, 2016.')
	td 02
	td Սպահանի Չարմահալ Գաւառը
	td Ազգագրական-Պատմական Ազգասիրութիւն
	td Արամ Երեմեան
	td -
	td 5523
	td
		a(target='_blank', href='https://www.google.com')
			span.material-icons-round link
tr(data-binfo='Երեմեան, Արամ. «Սպահանի Չարմահալ Գաւառը, Ազգագրական-Պատմական Ազգասիրութիւն». Նոր Ջուղա, Կրօնական Խորհւորդ, 2016.')
	td 03
	td Սպահանի Չարմահալ Գաւառը
	td Ազգագրական-Պատմական Ազգասիրութիւն
	td Արամ Երեմեան
	td -
	td 5523
	td
		a(target='_blank', href='https://www.google.com')
			span.material-icons-round link