.formContainer
	form(enctype="multipart/form-data")
		.container.p-2
			+Row()
				.col
					+Button('Ավելացնել', 'add')(class='btn-primary addBtn')
				.col
					+Button('Մաքրել', 'clear')(class='btn-primary clearBtn')
			+Row()
				+TextField('title', 'Վերնագիր', 'title')
			+Row()
				+TextField('subtitle', 'Խորագիր', 'text_fields')
			+Row()
				+TextField('author', 'Հեղինակ (ներ)', 'edit')
			+Row()
				+TextField('publishing', 'Հրատարակչություն', 'publish')
			+Row()
				+TextField('publishDate', 'Հրատարակչության Թվական', 'date_range')
			+Row()
				+TextField('publishLocation', 'Հրատարակչության Վայր', 'location_city')
			+Row()
				+TextField('translator', 'Թարգմանիչ', 'translate')
			+Row()
				+TextField('ISBN', 'ISBN*', 'fingerprint', true)
			+Row()
				+TextField('code', 'Կոդ*', '123', true)
			+Row()
				+Select('language', 'language')
					option(value='hy' selected) Հայերեն
					option(value='fa') Պարսկերեն
					option(value='en') Անգլերեն
			+Row()
				+TextField('ebook', 'Էլ-Գրքի Հասցե', 'link')
			+Row()
				.col
					+Button('Չեղարկել', 'clear')(class='btn-danger')
				.col
					+Button('Հաստատել', 'check', 'submit')(class='btn-success')
.tableContainer
	+SearchBox()
	table.table.table-striped.table-hover
		colgroup
			col(span='1', style='width: 4%;')
			col(span='1', style='width: 27%;')
			col(span='1', style='width: 27%;')
			col(span='1', style='width: 13%;')
			col(span='1', style='width: 13%;')
			col(span='1', style='width: 9%;')
			col(span='1', style='width: 6%;')
		thead
			tr
				th #
				th Վերնագիր
				th Խորագիր
				th Հեղինակ
				th Թարգմանիչ
				th Կոդ
				th
					span.material-icons-round laptop_chromebook
		tbody