.formContainer
	form
		.container.p-2
			+Row()
				.col
					+Button('Ավելացնել', 'add',)(class='btn-primary formSection_addBtn')
				.col
					+Button('Մաքրել', 'clear',)(class='btn-primary formSection_clearBtn')
			+Row()
					+TextField('member', 'Անդամ*', 'person', true)
			+Row()
					+TextField('book', 'Գիրք*', 'date_range', true)
			+Row()
				.col
					+Button('Չեղարկել', 'clear')(class='btn-danger')
				.col
					+Button('Հաստատել', 'check', 'submit')(class='btn-success')
.tableContainer
	+SearchBox()
	table.table.table-striped.table-hover
		colgroup
			col(span='1', style='width: 5%')
			col(span='1', style='width: 25%')
			col(span='1', style='width: 25%')
			col(span='1', style='width: 15%')
			col(span='1', style='width: 15%')
			col(span='1', style='width: 15%')
		thead
			tr
				th #
				th Անուն
				th Գիրք
				th Թվական
				th Ժամկետ
				th Վերադարձում
		tbody