.formContainer
	form(enctype="multipart/form-data")
		.container.p-2
			+Row()
				.col
					+Button('Ավելացնել', 'add')(class='btn-primary addBtn')
				.col
					+Button('Մաքրել', 'clear')(class='btn-primary clearBtn')
			+Row()
				.col
					+TextField('name', 'Անուն*', 'person', true)
			+Row()
				.col
					+TextField('surname', 'Ազգանուն*', 'people', true)
			+Row()
				.col
					+TextField('birthdate', 'Ծննդյան Թվական*', 'date_range')
			+Row()
				.col
					+TextField('phone', 'Բջջային Համար*', 'smartphone', true)
			+Row()
				.col
					+TextField('home', 'Տան Համար', 'phone')
			+Row()
				.col
					+TextField('address', 'Հասցե', 'home')
			+Row()
				.col
					+FileInput('memberPicture', 'Պատկեր', 'portrait')
			+Row()
				.col
					+TextField('code', 'Կոդ*', '123', true)
			+Row()
				.col
					+Button('Չեղարկել', 'clear')(class='btn-danger')
				.col
					+Button('Հաստատել', 'check', 'submit')(class='btn-success')
.tableContainer
	+SearchBox()
	table.table.table-striped.table-hover
		colgroup
			col(span='1', style='width: 20%')
			col(span='1', style='width: 30%')
			col(span='1', style='width: 30%')
			col(span='1', style='width: 20%')
		thead
			tr
				th #
				th Անուն
				th Ազգանուն
				th Կոդ
		tbody

