.dataFormSection
	.dataFormSection_buttonContainer
		+Button('Ավելացնել', 'add',)(class='btn-secondary dataFormSection_buttonContainer_addButton')
		+Button('Մաքրել', 'clear',)(class='btn-secondary dataFormSection_buttonContainer_clearButton')
	form
		+TextField('book', 'title', 'Վերնագիր*', 'title', true)
		+TextField('book', 'subtitle', 'Խորագիր*', 'text_fields', true)
		+TextField('book', 'author', 'Հեղինակ (ներ)*', 'edit', true)
		+TextField('book', 'publisher', 'Հրատարակչություն*', 'publish', true)
		+TextField('book', 'publishDate', 'Հրատարակչության Թվական*', 'date_range', true)
		+TextField('book', 'publishLocation', 'Հրատարակչության Վայր*', 'location_city', true)
		+TextField('book', 'translator', 'Թարգմանիչ', 'translate')
		+TextField('book', 'ISBN', 'ISBN*', 'fingerprint', true)
		+TextField('book', 'bookCode', 'Կոդ*', '123', true)
		+Select('book', 'language', 'Լեզու', 'language')
			option(value='hy' selected) Հայերեն
			option(value='fa') Պարսկերեն
			option(value='en') Անգլերեն
		+TextField('book', 'ebook', 'Էլ-Գրքի Հասցե', 'link')
		
		.formFooter
			+Button('Չեղարկել', 'clear')(class='btn-danger')
			+Button('Հաստատել', 'check', 'submit')(class='btn-primary')
.mainContent.mainContent_books
	+SearchBox()
	table
		colgroup
			col(span='1', style='width: 4%;')
			col(span='1', style='width: 27%;')
			col(span='1', style='width: 27%;')
			col(span='1', style='width: 13%;')
			col(span='1', style='width: 13%;')
			col(span='1', style='width: 9%;')
			col(span='1', style='width: 6%;')
		thead
			tr
				th #
				th Վերնագիր
				th Խորագիր
				th Հեղինակ
				th Թարգմանիչ
				th Կոդ
				th
					span.material-icons-round laptop_chromebook
		tbody
			include sampleData_books.pug