.tabContainer {
	width: 100vw;
	display: flex;
	height: calc(100vh - var(--header-height));
	position: fixed;
}

.tabFade-enter {
	opacity: 0;
}

.tabFade-enter.tabFade-enter-active {
	opacity: 1;
	transition: opacity 300ms ease 200ms;
}

.tabFade-exit {
	opacity: 1;
}
.tabFade-exit.tabFade-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}
