:root {
  --mdc-theme-primary: #3F51B5;
  --mdc-theme-on-secondary: #CFCFCF ;
}

header {
  display: flex;
  align-items: center;
  height: 9vh;
  width: 100%;
  border-bottom: 1px solid var(--mdc-theme-on-secondary);
  user-select: none;
  color: #404040;
}
header > * {
  display: flex;
  height: 100%;
  flex: 1;
  align-items: center;
}
header .headerLeft h2 {
  margin-left: 20px;
  font-weight: 500;
}
header .headerRight {
  flex-direction: row-reverse;
}

.headerCenter {
  flex: 2;
  position: relative;
}
.headerCenter span .material-icons-round {
  margin-right: 8px;
  font-size: 20px;
}

.tabButton {
  flex: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 150ms ease;
  height: 100%;
  align-items: center;
}
.tabButton span {
  font-size: 17px;
  display: inline-flex;
  pointer-events: none;
}
.tabButton:hover {
  background: #f9f9f9;
}

.headerCenter_bottomBorder {
  background: var(--mdc-theme-primary);
  width: 23.333%;
  height: 5px;
  align-self: flex-end;
  position: absolute;
  border-radius: 50px 50px 0 0;
  transition: 200ms;
}

.activeTabBtn {
  color: var(--mdc-theme-primary);
  font-weight: bold;
}

.headerExitButton {
  height: 56px;
  min-width: 0;
  width: 56px;
  margin-right: 20px;
}
.headerExitButton .mdc-button__ripple {
  border-radius: 50px;
}
.headerExitButton .material-icons-round {
  color: #404040;
}

.dataFormSection {
  flex: 1;
  border-right: 1px solid var(--mdc-theme-on-secondary);
  padding: 25px;
  height: 91vh;
  overflow-y: auto;
}
.dataFormSection button[type=submit] {
  height: 56px;
}
.dataFormSection > *, .dataFormSection > form > * {
  width: 100%;
  margin-bottom: 20px;
}

.dataFormSection_buttonContainer {
  display: flex;
  gap: 10px;
}
.dataFormSection_buttonContainer > button {
  flex: 1;
  height: 56px;
}

.activeTabContainer {
  opacity: 1;
  pointer-events: initial;
}

.mainContent {
  flex: 4;
  cursor: default;
}
.mainContent > table {
  border-spacing: 0;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.mainContent tr {
  height: 60px;
}
.mainContent table thead tr {
  border-bottom: 1px solid var(--mdc-theme-on-secondary);
  border-top: 1px solid var(--mdc-theme-on-secondary);
}
.mainContent table tbody tr:not(.oddRow):hover {
  background: #fafafa;
}
.mainContent table tbody .oddRow {
  background: #f8f8f8;
}
.mainContent table tbody .oddRow:hover {
  background: #f4f4f4;
}
.mainContent table tbody button {
  width: 50px;
  min-width: 50px;
  height: 50px;
  color: var(--mdc-theme-primary);
}
.mainContent table tbody button a {
  color: var(--mdc-theme-primary);
}
.mainContent table tbody button .mdc-button__ripple {
  border-radius: 50px;
}

.mdc-menu {
  background: #fbfbfb;
  border-radius: 10px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2509803922);
  width: auto;
  max-width: 500px;
}
.mdc-menu ul {
  padding: 0;
}
.mdc-menu ul li:last-child {
  padding: 0;
}

.mdc-list-item {
  height: auto;
  min-height: 50px;
}
.mdc-list-item .mdc-list-item__text {
  display: flex;
  align-items: center;
}

.mdc-list-item--disabled {
  color: #505050;
}

.contextMenu .buttonGroup {
  display: flex;
  width: 100%;
  padding: 0;
}
.contextMenu .buttonGroup button {
  flex: 1;
  margin: 0;
  height: 100%;
  width: 100%;
}
.contextMenu .buttonGroup button .mdc-button__label {
  font-weight: 700;
}
.contextMenu .buttonGroup button .mdc-button__ripple {
  border-radius: 0;
}

.tabContainer[data-tab="3"] .contextMenu ul li:first-child {
  padding-top: 8px;
  padding-bottom: 8px;
}

.mdc-select .mdc-menu ul li:last-child {
  padding-left: 16px;
  padding-right: 16px;
}

.mdc-select .mdc-menu-surface--fullwidth {
  width: 100%;
}

.mdc-select .mdc-select--with-leading-icon .mdc-select__icon {
  margin-left: 16px;
}

body,
html {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tabContainer {
  width: 100%;
  display: flex;
  min-height: 200vh;
  flex-wrap: wrap;
  position: fixed;
  pointer-events: none;
  transition: all 200ms ease-out;
  opacity: 0;
}

.activeTabContainer {
  opacity: 1;
  pointer-events: initial;
}

.searchBox {
  width: 100%;
  border-radius: 0;
}
.searchBox input {
  font-size: 20px;
}

/*# sourceMappingURL=styles.css.map */
