.mdc-menu.mdc-menu-surface.contextMenu_books
    ul.mdc-list(role='menu', aria-hidden='true', aria-orientation='vertical', tabindex='-1')
        li.mdc-list-item.mdc-list-item--disabled(role='menuitem')
            span.mdc-list-item__text
        li.mdc-list-item(role='menuitem')
            .buttonGroup
                button.mdc-button.mdc-button--icon-leading
                    span.mdc-button__ripple
                    i.material-icons.mdc-button__icon(aria-hidden='true') edit
                    span.mdc-button__label Խմբագրել
                button.mdc-button.mdc-button--icon-leading
                    span.mdc-button__ripple
                    i.material-icons.mdc-button__icon(aria-hidden='true') delete
                    span.mdc-button__label Ջնջել