.dataFormSection_buttonContainer

    button.mdc-button.dataFormSection_buttonContainer_addMode
        span.mdc-button__ripple
        i.material-icons.mdc-button__icon(aria-hidden='true') add
        span.mdc-button__label Ավելացնել
        
    button.mdc-button.dataFormSection_buttonContainer_clearForm(onclick="clearForm('form_book')")
        span.mdc-button__ripple
        i.material-icons.mdc-button__icon(aria-hidden='true') backspace
        span.mdc-button__label Մաքրել

form.form_book
    .mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-leading-icon
        span.mdc-notched-outline
            span.mdc-notched-outline__leading
            span.mdc-notched-outline__notch
                span.mdc-floating-label Վերնագիր
            span.mdc-notched-outline__trailing
        i.material-icons.mdc-text-field__icon.mdc-text-field__icon--leading(tabindex='0', role='button') title
        input.mdc-text-field__input(type='text')

    .mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-leading-icon
        span.mdc-notched-outline
            span.mdc-notched-outline__leading
            span.mdc-notched-outline__notch
                span.mdc-floating-label Հեղինակ (ներ)
            span.mdc-notched-outline__trailing
        i.material-icons.mdc-text-field__icon.mdc-text-field__icon--leading(tabindex='0', role='button') edit
        input.mdc-text-field__input(type='text')

    .mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-leading-icon
        span.mdc-notched-outline
            span.mdc-notched-outline__leading
            span.mdc-notched-outline__notch
                span.mdc-floating-label Հրատարակչություն
            span.mdc-notched-outline__trailing
        i.material-icons.mdc-text-field__icon.mdc-text-field__icon--leading(tabindex='0', role='button') publish
        input.mdc-text-field__input(type='text')

    .mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-leading-icon
        span.mdc-notched-outline
            span.mdc-notched-outline__leading
            span.mdc-notched-outline__notch
                span.mdc-floating-label Հրատարակչության Թվական
            span.mdc-notched-outline__trailing
        i.material-icons.mdc-text-field__icon.mdc-text-field__icon--leading(tabindex='0', role='button') date_range
        input.mdc-text-field__input(type='text')

    .mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-leading-icon
        span.mdc-notched-outline
            span.mdc-notched-outline__leading
            span.mdc-notched-outline__notch
                span.mdc-floating-label Հրատարակչության Վայր
            span.mdc-notched-outline__trailing
        i.material-icons.mdc-text-field__icon.mdc-text-field__icon--leading(tabindex='0', role='button') location_city
        input.mdc-text-field__input(type='text')

    .mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-leading-icon
        span.mdc-notched-outline
            span.mdc-notched-outline__leading
            span.mdc-notched-outline__notch
                span.mdc-floating-label Թարգմանիչ
            span.mdc-notched-outline__trailing
        i.material-icons.mdc-text-field__icon.mdc-text-field__icon--leading(tabindex='0', role='button') translate
        input.mdc-text-field__input(type='text')

    .mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-leading-icon
        span.mdc-notched-outline
            span.mdc-notched-outline__leading
            span.mdc-notched-outline__notch
                span.mdc-floating-label Խորագիր
            span.mdc-notched-outline__trailing
        i.material-icons.mdc-text-field__icon.mdc-text-field__icon--leading(tabindex='0', role='button') text_fields
        input.mdc-text-field__input(type='text')

    .mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-leading-icon
        span.mdc-notched-outline
            span.mdc-notched-outline__leading
            span.mdc-notched-outline__notch
                span.mdc-floating-label ISBN
            span.mdc-notched-outline__trailing
        i.material-icons.mdc-text-field__icon.mdc-text-field__icon--leading(tabindex='0', role='button') fingerprint
        input.mdc-text-field__input(type='text')

    .mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-leading-icon
        span.mdc-notched-outline
            span.mdc-notched-outline__leading
            span.mdc-notched-outline__notch
                span.mdc-floating-label Կոդ
            span.mdc-notched-outline__trailing
        i.material-icons.mdc-text-field__icon.mdc-text-field__icon--leading(tabindex='0', role='button') 123
        input.mdc-text-field__input(type='text')

    .mdc-select.mdc-select--outlined.mdc-select--with-leading-icon
        .mdc-select__anchor(aria-labelledby='outlined-select-label')
            span.mdc-notched-outline
                span.mdc-notched-outline__leading
                span.mdc-notched-outline__notch
                    span#outlined-select-label.mdc-floating-label Լեզու
                span.mdc-notched-outline__trailing
            i.material-icons.mdc-text-field__icon.mdc-select__icon(tabindex='0', role='button') language
            span.mdc-select__selected-text-container
                span#demo-selected-text.mdc-select__selected-text
            span.mdc-select__dropdown-icon.material-icons-round arrow_drop_down
        .mdc-select__menu.mdc-menu.mdc-menu-surface.mdc-menu-surface--fullwidth ...

    .mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-leading-icon
        span.mdc-notched-outline
            span.mdc-notched-outline__leading
            span.mdc-notched-outline__notch
                span.mdc-floating-label Էլ-Գրքի Հասցե
            span.mdc-notched-outline__trailing
        i.material-icons.mdc-text-field__icon.mdc-text-field__icon--leading(tabindex='0', role='button') link
        input.mdc-text-field__input(type='text')

    button.mdc-button.mdc-button--raised.mdc-button--leading(type='submit')
        span.mdc-button__ripple
        i.material-icons.mdc-button__icon(aria-hidden='true') check
        span.mdc-button__label Հաստատել