header
    .headerLeft
        h2 Գրադարան
    .headerCenter
        .tabButtons
            .tabButton(data-tab-button='1')
                span
                    span.material-icons-round schedule
                    | Պահ Տրված
            .tabButton(data-tab-button='2')
                span
                    span.material-icons-round people
                    | Անդամներ
            .tabButton(data-tab-button='3')
                span
                    span.material-icons-round book
                    | Գրքեր
        .headerCenter_bottomBorder
    .headerRight
    .headerExit
        .headerExitButton
            span.material-icons-round logout