.dataFormSection.dataFormSection_books
    include tab_3/formSection.pug
.mainContent.mainContent_books
    form.searchBox_form
        .mdc-text-field.mdc-text-field--outlined.mdc-text-field--no-label.mdc-text-field--with-leading-icon.searchBox
            i.material-icons.mdc-text-field__icon.mdc-text-field__icon--leading(tabindex='0', role='button') search
            input.mdc-text-field__input(type='text', placeholder='Որոնել')
    include tab_3/contextMenu.pug
    table
        colgroup
            col(span='1', style='width: 4%;')
            col(span='1', style='width: 27%;')
            col(span='1', style='width: 27%;')
            col(span='1', style='width: 13%;')
            col(span='1', style='width: 13%;')
            col(span='1', style='width: 9%;')
            col(span='1', style='width: 6%;')
        thead
            tr
                th #
                th Վերնագիր
                th Խորագիր
                th Հեղինակ
                th Թարգմանիչ
                th Կոդ
                th
                    span.material-icons-round laptop_chromebook
        tbody
            include tab_3/sampleData.pug