.searchBox.input-group {
	position: sticky;
	top: 0;
	z-index: 3;
	.input-group-text {
		background: #fff;
		border-right: none;
		border-left: none;
	}
	input {
		border-left: none;
	}
	input.form-control:focus {
		border-color: #ced4da !important;
	}
	& > * {
		border-radius: 0 !important;
		border-top: none !important;
	}
}
