@import 'mixins'
	
.mainContent 
	flex: 4 
	cursor: default 
	& > table 
		border-spacing: 0 
		width: 100% 
		text-align: center 
		border-collapse: collapse 
	tr 
		height: 60px 
	table 
		thead 
			tr 
				border-bottom: 1px solid var(--bs-gray-400) 
				border-top: 1px solid var(--bs-gray-400) 
				th:last-child
					padding-top: 8px
		
		tbody 
			tr:not(.oddRow):hover 
				background: #fafafa 
			.oddRow 
				background: #f8f8f8 
				&:hover 
					background: #f4f4f4 
			a span
				width:  40px
				height: 40px
				border-radius: 50px
				@include Center
				transition: background 100ms
				&:hover
					background: #00000010
				&:active
					background: #00000020
			a
				text-decoration: none
				@include Center