$header-height: 70px
$header-color: #534f5a
$primary: #3F51B5
$link-color: $primary
$formContainer-width: 22%
	
@import 'material-icons/iconfont/material-icons.css'
@import 'bootstrap/scss/functions'
@import 'bootstrap/scss/variables'
@import 'bootstrap/scss/mixins'
@import 'bootstrap/scss/maps'
@import 'bootstrap/scss/utilities'
@import 'bootstrap/scss/root'
@import 'bootstrap/scss/reboot'
@import 'bootstrap/scss/modal'
@import 'bootstrap/scss/grid'
@import 'bootstrap/scss/containers'
@import 'bootstrap/scss/buttons'
@import 'bootstrap/scss/tables'
@import 'bootstrap/scss/forms'
@import 'bootstrap/scss/toasts'
@import 'bootstrap/scss/helpers'
@import 'bootstrap/scss/utilities/api'
@import 'bootstrap/scss/transitions'
@import 'bootstrap/scss/close'
@import 'bootstrap/scss/dropdown'
@import 'header'
@import 'formContainer'
@import 'tableContainer'
@import 'contextMenu'
@import 'mixins'

body,
html 
	margin: 0 
	font-family: Arial, Helvetica, sans-serif

.tabContainer 
	width: 100vw
	display: flex
	height: calc(100vh - $header-height)
	position: fixed 
	pointer-events: none 
	transition: all 200ms ease-out
	opacity: 0
	
.activeTabContainer 
	opacity: 1 
	pointer-events: initial

.material-icons-round
	user-select: none
	vertical-align: middle
	line-height: 0 !important
	position: relative
	top: -1px

.row
	margin-top: initial
	margin-right: initial
	margin-left: initial

.searchBox 
	.input-group-text
		background: #fff
		border-right: none
		border-left: none
	input
		border-left: none
		& > :focus
			border-color: #ced4da
	& > *
		border-radius: 0