/* @import 'bootstrap'; */

:root {
	--header-height: 70px;
	--bs-primary: #3f51b5;
	--bs-link-color: var(--bs-primary);
}

body,
html {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}

.row {
	margin-top: initial;
	margin-right: initial;
	margin-left: initial;
}

.btn-primary {
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-disabled-bg: var(--bs-primary);
	--bs-btn-disabled-border-color: var(--bs-primary);
}