.tableContainer {
	flex: 0 0 (100% - 22%);
	overflow: auto;
	height: calc(100vh - var(--header-height));
	user-select: none;
	table.table-bordered {
		border-left: none;
		thead {
			position: sticky;
			top: 37px;
			background-color: #ffffff;
			tr {
				transition: box-shadow 150ms;
				border-top: none !important;
			}
			tr.thS {
				box-shadow: 0 1px 5px 0 #00000025;
			}
		}
		tr {
			td:first-child,
			th:first-child {
				text-align: center;
				color: var(--bs-gray-700);
				border-left: none;
			}
			.material-icons-round {
				z-index: -1;
				line-height: 20px;
			}
		}
	}
	a.disabled,
	a.disabled span {
		color: var(--bs-gray-400);
		pointer-events: none;
	}
}
